.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin-top: 20px;
}

.Card {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.Card.Flipped {
  background-color: #fff;
}

.Message {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}
